html{
    background-color: gray;
}

table{
    background-color: yellow;
    margin: 0 auto;
    border-collapse: collapse;
}

table td{
    height: 100px;
    vertical-align: middle;
    width: 100px;
}

table td div.chit{
    background-color: gray;
    cursor: pointer;
    height: 80px;
    margin: 0 auto;
    width: 80px;
    border-radius: 40px;
}

table td div.chit.black{
    background-color: black;
}

table td div.chit.red{
    background-color: red;
}
